<template>
  <span>
    <i class="fa ml-2"
       :class="[isLiked ? 'fa-heart text-danger' : 'fa-heart-o']"
       style="user-select: none;"
       :style="[isLoggedIn ? { cursor: 'pointer' } : '']"
       aria-hidden="true"></i> {{ count }}
  </span>
</template>

<script>
  export default {
    props: ["likes_count"],

    data() {
      return {
        isLiked: this.liked,
        isLoggedIn: this.logged_in,
        count: parseInt(this.likes_count) || 0,
        endpoint: "/api/v1/like-count",
        isLoading: false
      };
    }
  };
</script>

